*{
    box-sizing:border-box;
    margin: 0 auto;
    /* padding: 20px 0; */
}
body{
    width: 970;
    min-height: 600px;
    background-image: url(./images/wallpaper1.png);
    background-repeat: no-repeat;
    margin: 0 auto;
}
#grid {
    width: 900px;
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    grid-template-rows: repeat(2, 0.5fr);
    grid-gap: 15px;
    margin: 100px;
    position: relative;
    /* justify-content: center; */
}
img{
    width: 350px;
}
h2{
    margin: 50px 100px;
}
button{
    width: 90px;
    height: 40px;
    margin: 0 100px;
}